section#kelas .head-kelas {
  background-color: yellow;
  width: 98%;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  box-shadow: 0 0 3px rgb(194, 191, 191);
  border-radius: 20px 20px 0 0;
}
section#kelas .head-kelas label {
  font-size: 15px;
  color: rgb(139, 139, 139);
}
section#kelas .nilai {
  padding: 30px;
  width: 96%;
}
section#kelas form.filter {
  justify-content: space-between;
}
section#kelas table {
  border-spacing: 0;
  width: 100%;
  margin-top: 40px;
}

.toggle-more-info:hover .more-info {
  display: table-row;
}

.more-info {
  display: none;
}
.more-info th {
  border-bottom: 1px solid rgb(255, 136, 0);
}

section#kelas .main-info td:nth-child(3),
section#kelas .more-info td:nth-child(2) {
  text-align: start;
}
